.message-body {
    display: flex;
    flex-direction: column;

    max-width: 80vw;
    margin: 12px;
    padding: 6px;
}

.message-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 12px 0;
}

.green-background {
    background-color: lightgreen;
}

.blue-background {
    background-color: lightblue;
}